body {
  background: red;
  width: 50px;
}

image {
  src: url(../../vue.js);
}

h2 .once {
  width: 50px;
}

h2 .once .app {
  height: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

h2 .once .app:hover {
  color: blue;
}
