$color:red;
$url:'../../vue.js';
body{
    background: $color;
    width: 50px;
}
image{
    src: url(#{$url})
}
h2{
    .once{
        width: 50px;
        .app{
            height: 20px;
        }
    }
}