*{
    margin: 0;
    padding: 0;
}
h3{
    height: 100px;
    width: 960px;
    background: #aaaaaa;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    line-height: 100px;
}
.img{
    height: 540px;
    width: 960px;
    background-image: url(./img/01.jpg);
    margin: 0 auto;
    text-align: center;
    line-height: 100px;
    background-size: 100%;
}
.txt{
    width: 960px;
    overflow: hidden;
    margin: 0 auto;
    background: #ff0036;
}
.txt-main{
    width: 630px;
    height: 300px;
    float: left;
    display: table;
    background: pink;
}
p{
    display: table-cell;
    vertical-align: middle;   /*垂直居中*/
    text-align: center;
}
.txt-right{
    width: 300px;
    height: 300px;
    float: right;
    background: #00ff36;
}

@media screen and(max-width:960px){
    h3{
        width:100%;
    }
    .img{
        background-image: url(./img/01_s_2x.jpg);
        width:100%;
        height: 0;
        padding-top: 56%;
    }
    .txt{
        width: 100%;
    }
    .txt-main{
        width: 66%;
    }
    .txt-right{
        width: 31%;
    }
}
@media screen and(max-width:480px){
    .img{
        background-image: url(./img/01_s.jpg);
        width:100%;
        height: 0;
        padding-top: 56%;
    }
    .txt-main{
        width:100%;
    }
    .txt-right{
        width: 100%;
    }
}