body{
    background: #000000;
    perspective: 800px;
    transform: style 3d; 
}
.main{
    width: 200px;
    height: 200px;
    margin: 200px auto;
    /* background: #ff0000; */
    position: relative;
    transform-style: preserve-3d; 
    animation: aa 5s linear 0s infinite forwards;
}
.touzi{
    width: 200px;
    height: 200px;
    background: rgba(255,255,255,0.5);
    border-radius: 10px;
    font-size: 50px;
    text-align: center;
    line-height: 200px;
    position: absolute;
    border: 1px solid aqua;
    left: 0;
    top: 0;
}
.A{
    transform: rotateY(-90deg) translateZ(100px);
}
.B{
    transform: rotateY(90deg) translateZ(100px);
}
.C{
    transform: translateZ(-100px);
}
.D{
    transform: translateZ(100px);
}
.E{
    transform: rotateX(90deg) translateZ(100px);
}
.F{
    transform: rotateX(-90deg) translateZ(100px);
}
@keyframes aa{
    from{transform: rotateY(0deg)}
    to{transform: rotateY(360deg)}
}
.A:hover{
    opacity: 0.5;
}
.B:hover{
    opacity: 0.5;
}
.C:hover{
    opacity: 0.5;
}
.D:hover{
    opacity: 0.5;
}
.E:hover{
    opacity: 0.5;
}
.F :hover{
    opacity: 0.5;
}
