body{
    background: #000000;
    perspective: 800px;
    transform: style 3d; 
}
.main{
    width: 200px;
    height: 200px;
    margin: 200px auto;
    /* background: #ff0000; */
    position: relative;
    transform-style: preserve-3d; 
    animation: aa 5s linear 0s infinite forwards;
}
.touzi{
    width: 200px;
    height: 200px;
    background: rgba(255,255,255,0.5);
    border-radius: 10px;
    font-size: 50px;
    text-align: center;
    line-height: 200px;
    position: absolute;
    border: 1px solid aqua;
    left: 0;
    top: 0;
}
.A{
    transform: rotateY(-90deg) translateZ(100px);
    /* animation: aa 5s linear 0s forwards; */
}
.B{
    transform: rotateY(90deg) translateZ(100px);
    /* animation: bb 5s linear 0s forwards; */
}
.C{
    transform: translateZ(-100px);
    /* animation: cc 5s linear 0s forwards; */
}
.D{
    transform: translateZ(100px);
    /* animation: dd 5s linear 0s forwards; */
}
.E{
    transform: rotateX(90deg) translateZ(100px);
    /* animation: ee 5s linear 0s forwards; */
}
.F{
    transform: rotateX(-90deg) translateZ(100px);
    /* animation: ff 5s linear 0s forwards; */
}
@keyframes aa{
    from{transform: rotateY(0deg)}
    to{transform: rotateY(360deg)}
}
