<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./todolist.css">
    <title>Document</title>
</head>

<body>
    <script src="../vue.js"></script>
    <script src="./todolist.js"></script>
    <div id="container">
        <h1>todolist</h1>
        <hr>
        <div>
            <label for="proName">名称</label>
            <input type="text" id="proName" placeholder="请输入产品名" v-model="name">
            <label for="proPrice">价格</label>
            <input type="text" id="proPrice" placeholder="请输入产品价格" v-model="price">
            <button class="add" @click="add()">添加</button>
        </div>
        <div>
            <input type="text" class="search-val" placeholder="请输入搜索内容" v-model="seaVal">
            <button class="search" @click="search()">搜索</button>
        </div>
        <ul>
            <li v-for="obj in showList" @click="change(obj)" :class="{selected:obj.isSelect}">
                <input type="checkbox" v-model="obj.isSelect">
                <span>{{obj.name}}</span>
                <span class="close" @click.stop="delate_this(obj)">[X]</span>
                <span class="price">{{obj.price}}</span>
            </li>
        </ul>
        <div>
            <button class="del" v-on:click="delate()">删除选中</button>
            总价
            <span class="total_price">{{totalPrice}}</span>
        </div>
    </div>
    
</body>

</html>