*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 16px;
    background:#f0efed;
}
.header{
    height: 3rem;
    background: #06c1ae;
    border-bottom: 1px solid #21897d;
    display: flex;
    color: #ffffff;
}
.header-back{
    line-height: 3rem;
    font-size: 1.08rem;
}
.header-title{
    line-height: 3rem;
    font-size: 1.08rem;
}