*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 16px;
    background:#f0efed;
}
.head{
    height: 1.01rem;
    background: #06c1ae;
    border-bottom: 1px solid #21897d;
    display: flex;
    color: #ffffff;
}